.AddRoute {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.addrouteArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.formContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.busContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}